#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 600px;
  width: 100%;
  gap: 2rem;
}

#forms {
  grid-column: 1;
  background-color: cyan;
  min-width: 400px
}

#resume {
  grid-column: 2;
  background-color: yellow;
  min-height: 500px;
}

#section-personal span {
  display: inline-block;
}